$color:skyblue;
* {
    border: 0;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: $color;
    display: grid;
    grid-template-rows: 1fr 2.5fr 1fr;
    grid-template-columns: 1fr minmax(300px, 1.5fr) 1fr;
    #container {
        grid-column: 2/3;
        grid-row: 2/3;
        background: white;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 10px 10px 5px 4px rgba(0, 0, 0, 0.4);
        display: grid;
        grid-template-columns: 1fr 5fr minmax(100px, 2fr);
        grid-template-rows: 4fr 1fr;
        #quote {
            grid-column: 1/4;
            grid-row: 1/2;
        }
        #new-quote {
            background: $color;
            color: white;
            font-weight: 800;
            padding: 10px;
            grid-column: 3/4;
            grid-row: 2/3;
            align-self: center;
            justify-self: center;
            border-radius: 10px;
            border: 2px solid $color;
        }
        #tweet {
            grid-column: 1/2;
            grid-row: 2/3;
            align-self: center;
            justify-self: center;
            color: $color;
        }
        #tweet:hover {
            grid-column: 1/2;
            grid-row: 2/3;
            align-self: center;
            justify-self: center;
            color: #00aced;
        }
        #quote-text {
            padding-top: 5%;
            color: $color;
            font-size: 30px;
            display: inline-block;
            text-align: justify;
            font-family: 'Mali', Verdana;
        }
        #new-quote:focus {
            outline: -webkit-focus-ring-color auto 0px;
        }
        #author {
            color: $color;
            font-size: 25px;
            text-align: right;
            font-family: 'Mali', Verdana;
        }
    }
}